.Phonetic {
  margin-bottom: 20px;
}

.Phonetic a {
  border: 1px solid #ddd;
  text-decoration: none;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 12px;
  margin-right: 20px;
  transition: all 200ms ease-in-out;
}

.Phonetic a:hover {
  background-color: #84cdce;
  color: white;
}
